html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  margin: auto;
  padding: auto;
  font-size: 1.2rem;
}

@media (min-width: 1100px) {
  .vh-90 {
    min-height: 90vh;
  }
}

@media (max-width: 1400px) {
  .hiddendivmax1400 {
    display: none;
  }
  .showdivmax1400 {
    display: block !important;
  }
}

@media (min-width: 1400px) {
  .showdivmin {
    display: block;
  }
  .hiddendivmin {
    display: none;
  }
}

@media (min-width: 992px) {
  .col-lg-8 {
    max-width: 100%;
  }
}

.navbar-brand {
  width: 50%;
}

.slider-carrusel {
  position: relative;
}

.slider-carrusel {
  z-index: -1;
}

.texto-arriba {
  z-index: 1;
}

.borde-naranja {
  border-bottom: 3px solid #f74d09;
}

.borde-naranja .titulo-lineas {
  font-size: 1.2rem;
}

.borde-verde {
  border-bottom: 3px solid #74b91f;
}

.borde-verde .titulo-lineas {
  font-size: 1.2rem;
}

.borde-amarillo {
  border-bottom: 3px solid #f7ca01;
}

.borde-amarillo .titulo-lineas {
  font-size: 1.2rem;
}

.titulo-azul {
  color: #0971cb;
  font-size: 2rem;
  font-weight: 600;
  inline-size: 1;
}

.titulo-azul-2 {
  color: #398ad8;
  font-size: 2rem;
  font-weight: 600;
  inline-size: 1;
}

.titulo-naranja {
  color: #f74d09;
  font-size: 2rem;
  font-weight: 600;
  inline-size: 1;
}

.titulo-naranja-2 {
  color: #ff773d;
  font-size: 2rem;
  font-weight: 600;
  inline-size: 1;
}

.titulo-verde {
  color: #74b91f;
  font-size: 2rem;
  font-weight: 600;
  inline-size: 1;
}

.titulo-verde-2 {
  color: #94ca58;
  font-size: 2rem;
  font-weight: 600;
  inline-size: 1;
}

.titulo-negro {
  color: #222b33;
  font-size: 2rem;
  font-weight: 600;
  inline-size: 1;
}

.titulo-negro-2 {
  color: #494f56;
  font-size: 2rem;
  font-weight: 600;
  inline-size: 1;
}

.titulo-amarillo {
  color: #f7ca01;
  font-size: 2rem;
  font-weight: 600;
  inline-size: 1;
}

.fondo-azul {
  background-color: #0971cb;
  color: white;
}

.fondo-azul .btn:hover {
  opacity: 90%;
  color: white;
}

.fondo-azul-2 {
  background-color: #398ad8;
  color: white;
}

.fondo-azul-2 .btn:hover {
  opacity: 90%;
  color: white;
}

.fondo-naranja {
  background-color: #f74d09;
  color: white;
}

.fondo-naranja .btn:hover {
  opacity: 90%;
  color: white;
}

.fondo-naranja-2 {
  background-color: #ff773d;
  color: white;
}

.fondo-naranja-2 .btn:hover {
  opacity: 90%;
  color: white;
}

.fondo-verde {
  background-color: #74b91f;
  color: white;
}

.fondo-verde .btn:hover {
  opacity: 90%;
  color: white;
}

.fondo-verde-2 {
  background-color: #94ca58;
  color: white;
}

.fondo-verde-2 .btn:hover {
  opacity: 90%;
  color: white;
}

.fondo-negro {
  background-color: #222b33;
  color: white;
}

.fondo-negro .btn:hover {
  opacity: 90%;
  color: white;
}

.fondo-negro-2 {
  background-color: #494f56;
  color: white;
}

.fondo-negro-2 .btn:hover {
  opacity: 90%;
  color: white;
}

.fondo-amarillo {
  background-color: #f7ca01;
  color: white;
}

.fondo-amarillo .btn:hover {
  opacity: 90%;
  color: white;
}

.texto-color {
  color: #222b33;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 20px;
}

.titulo {
  font-size: 2rem;
  color: #0971cb;
  font-weight: 700;
  margin: 2rem;
}

.titulo-2 {
  font-size: 2rem;
  color: #222b33;
  font-weight: 700;
  margin: 0.5rem;
}

.cita-l {
  color: white;
  font-size: large;
  line-height: 1;
}

.cita-md {
  color: white;
  font-size: 1.75rem;
  line-height: 1;
  font-weight: 400;
}

.raya {
  border-bottom: 3px solid white;
}

.educacion {
  font-size: 2rem;
  font-weight: 500;
}

.educacion-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 15px;
}

.espacio25 {
  height: 25px;
}

.pequeno150 {
  height: 150px;
}

.mediano350 {
  height: 350px;
}

.alto500 {
  height: 500px;
}

.redondo {
  border-radius: 5px;
}

.enviar:hover {
  color: #0971cb !important;
}

a .fa {
  color: #FFF;
}

.servicios a {
  color: #FFF;
}

.galeria img {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.galeria img:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.equipo img {
  border-radius: 300px;
  width: 100%;
}

.nosotrasmision {
  font-weight: 800;
  font-size: 1.5rem;
}

.mt-30 {
  margin-top: 30px;
}
/*# sourceMappingURL=style.css.map */